body {
    display:flex;
    flex-wrap: wrap;

}

html, body {
    margin: 0;
   }

.header-links{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    list-style-type: none;
    margin: padding 10px;



}

.block-images {
    display: flex;
    height:300px;
    width:1560px;
    justify-content: flex-start;
    border: #4d565b;
}


.colorblock {
    background-color: #1F2937;
    color: #F9FAF8;
    width:1561px;
    height: 150px;
    margin: 0;
}

.block-images .bike {
   border:#4d565b;
   border-radius: 30px;
   border-width: 10px;
   margin: 10px;
   padding: 10px;
}

.block-images .swimmer {
   border: #1F2937;
   border-radius: 30px;
   border-width: 10px;
   margin: 10px;
   padding: 10px;
}

.block-images .runner {
   border: #1F2937;
   border-radius: 30px;
   border-width: 10px;
   margin: 10px;
   padding: 10px;
}

.block-images .community {
   border: #1F2937;
   border-radius: 30px;
   border-width: 10px;
   margin: 10px;
   padding: 10px;
}



   .banner {
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    justify-content: center;
    margin: 45px;
}
